<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>getAllBooks</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
</head>
<body>
<th:block th:include="partialViews/navbar :: navbar" ></th:block>
<h1>get all books</h1>


<div class="container">
    <h2>Books</h2>
    <table class="table table-dark table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Author</th>
            <th>Modify</th>
            <th>Delete</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="book : ${books}" >
            <td th:text="${book.getId()}" >Place for Id</td>
            <td th:text="${book.getTitle()}">Place for Title</td>
            <td th:text="${book.getAuthor()}">Place for Author</td>
            <td>
                <a th:href="@{/book/updateBook(bookId=${book.getId()})}">
                    <button class="nav-link btn btn-primary">modify</button>
                </a>
            </td>
            <td>
                <a th:href="@{/book/deleteBook(bookId=${book.getId()})}"  >
                    <button class="nav-link btn btn-danger">Delete</button>
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</body>
</html>