

<div th:fragment="navbar" >

    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#">Logo</a>

        <!-- Links -->
        <ul class="navbar-nav">
            <li class="nav-item">
                <a th:href="@{/}" class="nav-link">HOME</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/book/getAllBooks}" class="nav-link">getAllBooks</a>
            </li>
            <li class="nav-item">
                <a th:href="@{/book/bookForm}" class="nav-link">bookForm</a>
            </li>

        </ul>
    </nav>

</div>
